.background {
    border: 3px solid #73AD21;
    width: 960px;
    height: 890px;
    background: grey;
}

.tokens {
    position: absolute;
    left:5px;
}

.circle{
    border: 6px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

#playingfiel.circle{
    background: white;
    position: absolute;
}


#red.circle{
    position: absolute;
    background: red;
}


#blue.circle{

    position: absolute;
    background: blue;
}


#green.circle{
    left: 620px;
    top: 620px;
    position: absolute;
    background: green;
}


#yellow.circle{
    left: 10px;
    top: 560px;
    position: absolute;
    background: yellow;
}
