.background {
    margin: 0 auto;
    position: relative;
    float: left;
    width: 50%;
    background: grey;
}


.background:before{
    content: "";
    display: block;
    padding-top: 100%;
}


.circle{
    border: 6px;
    width: 8%;
    height: 8%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 70%;
    z-index: 100;
}

.tokens {
    position: absolute;
    left:20%;
    z-index: 101;
}



img {
    max-width: 75%;
}

#test.circle{
    left:24%;
    background:deeppink;
}

#playingfiel.circle{
    background: white;
    position: absolute;
}


#red.circle{
    position: absolute;
    background: red;
}


#blue.circle{

    position: absolute;
    background: blue;
}


#green.circle{
    position: absolute;
    background: green;
}


#yellow.circle{
    position: absolute;
    background: yellow;
}


