@media (min-width: 480px) {
    .pagecontainer {
        z-index: 100;
        width: 29em;
        margin: auto;
        margin-top: 1em;
        display: block;
    }

    .gamecontainer {
        z-index: 100;
        height: 100%;
        width: 100%;
        display: inline-flex;
        margin: 0em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-size:30px;
        line-height: 33px;
        font-family: "Verdana",Geneva, sans-serif;
        font-weight: bold;
        color:black;
    }
}

.background {
    margin: 0 auto;
    display: block;
    position: relative;
    float: left;
    width: 70%;
    background: rosybrown;
}


.background:before{
    content: "";
    display: block;
    padding-top: 100%;
}


.circle{
    border: 6px;
    width: 8%;
    height: 8%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 70%;
    z-index: 100;
}

.tokens {
    position: absolute;
    left:20%;
    z-index: 101;
}


img {
    max-width: 75%;
}

#test.circle{
    left:24%;
    background:deeppink;
}

#playingfiel.circle{
    background: white;
    position: absolute;
}


#red.circle{
    position: absolute;
    background: palevioletred;
}


#blue.circle{

    position: absolute;
    background: darkslateblue;
}


#green.circle{
    position: absolute;
    background: seagreen;
}


#yellow.circle{
    position: absolute;
    background: yellow;
}

.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
    font-size: 4vw;
}


