@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@(title: String, user: models.User)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(title, Some(user)) {
<link rel="stylesheet" href='@routes.Assets.versioned("styles/mensch.css")' />

<!--div class="container"-->
<p>Willkommen zu mensch Ärger dich nicht, dem besten Spiel der WELT!!!!</p>
    <a href="/aboutsecure">ABOUT</a>
}
