@(game: de.htwg.se.menschaergerdichnicht.controller.controllerComponent.ControllerInterface)
  @tui = @{game.tui}
  @output = @{tui.printingTui()}
  @gui = @{game.gui}
  @players = @{game.players.getAllPlayer}
  @player1 = @{players(0)}
  @tokens1 = @{player1.getTokens()}
  @player2 = @{players(1)}
  @tokens2 = @{player2.getTokens()}
  @player3 = @{players(2)}
  @tokens3 = @{player3.getTokens()}
  @player4 = @{
      if(players.size > 3) players(3)}
  @tokens4 = @{


  @playingfield = @{gui.PLAYING_FIELD}
  @home1 = @{gui.HOMEFIELDPLAYERONE}
  @home2 = @{gui.HOMEFIELDPLAYERTWO}
  @home3 = @{gui.HOMEFIELDPLAYERTHREE}
  @home4 = @{gui.HOMEFIELDPLAYERFOUR}

  @getHomeLeft(index:Int) = @{home1(index)._1}
  @getHomeTop(index:Int) = @{home1(index)._2}

  @getHome2Left(index:Int) = @{home2(index)._1}
  @getHome2Top(index:Int) = @{home2(index)._2}

  @getHome3Left(index:Int) = @{home3(index)._1}
  @getHome3Top(index:Int) = @{home3(index)._2}

  @getHome4Left(index:Int) = @{home4(index)._1}
  @getHome4Top(index:Int) = @{home4(index)._2}

  @getLeft(index:Int) = @{playingfield(index)._1}
  @getTop(index:Int) = @{playingfield(index)._2}


  @main("Welcome to MeschAergerDichNicht") {

    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/mensch.css")' />
    <meta http-equiv="refresh" content="5" >
      <!--code> @Html(tui.printingTui()) </code-->

      <div class="background">
        @players
        @for(index <- 0 until playingfield.size){

            <div id="playingfiel" class="circle" style="left:@{getLeft(index)}px; top:@{getTop(index)}px; "> </div>
        }

        @for(index <- 0 until home1.size){
            <div id="red" class="circle" style="left:@{getHomeLeft(index)}px; top:@{getHomeTop(index)}px; ">
            @if(players.nonEmpty){
                @if(tokens1(index).counter == 0) {
                    <div class="tokens">
                        <img src="@routes.Assets.versioned("images/tokens/red.png")" width="40" height="40"/>
                    </div>
                }
            }
            </div>
        }

        @for(index <- 0 until home2.size){
            <div id="blue" class="circle" style="left:@{getHome2Left(index)}px; top:@{getHome2Top(index)}px; ">
            @if(players.nonEmpty){
                @if(tokens2(index).counter == 0) {
                    <div class="tokens">
                        <img src="@routes.Assets.versioned("images/tokens/blue.png")" width="40" height="40"/>
                    </div>
                }
            }
            </div>
        }

        @for(index <- 0 until home3.size){
            <div id="green" class="circle" style="left:@{getHome3Left(index)}px; top:@{getHome3Top(index)}px; ">
            @if(players.nonEmpty){
                @if(tokens3(index).counter == 0) {
                    <div class="tokens">
                        <img src="@routes.Assets.versioned("images/tokens/green.png")" width="40" height="40"/>
                    </div>
                }
            }
            </div>
        }


        @for(index <- 0 until home4.size){
            <div id="yellow" class="circle" style="left:@{getHome4Left(index)}px; top:@{getHome4Top(index)}px; ">
            @if(players.nonEmpty){
                @if(tokens4(index).counter == 0) {
                    <div class="tokens">
                        <img src="@routes.Assets.versioned("images/tokens/yellow.png")" width="40" height="40"/>
                    </div>
                }
            }
            </div>
        }


          <div id="start1" class="circle"></div>
          <div id="start2" class="circle"></div>
          <div id="start3" class="circle"></div>
          <div id="start4" class="circle"></div>


      </div>

  }
