@(game: de.htwg.se.menschaergerdichnicht.controller.controllerComponent.ControllerInterface)
  @tui = @{game.tui}
  @output = @{tui.printingTui()}
  @gui = @{game.gui}
  @players = @{game.players.getAllPlayer}

  @player1 = @{players(0)}
  @tokens1 = @{player1.getTokens()}
  @player2 = @{players(1)}
  @tokens2 = @{player2.getTokens()}
  @player3 = @{players(2)}
  @tokens3 = @{player3.getTokens()}
  @player4 = @{players(3)}
  @tokens4 = @{player4.getTokens()}



  @playingfield = @{gui.PLAYING_FIELD}
  @home1 = @{gui.HOMEFIELDPLAYERONE}
  @home2 = @{gui.HOMEFIELDPLAYERTWO}
  @home3 = @{gui.HOMEFIELDPLAYERTHREE}
  @home4 = @{gui.HOMEFIELDPLAYERFOUR}
  @finish1 = @{gui.FINISH_ONE}
  @finish2 = @{gui.FINISH_TWO}
  @finish3 = @{gui.FINISH_THREE}
  @finish4 = @{gui.FINISH_FOUR}

  @getLeft(index:Int) = @{playingfield(index)._1 * 100 / 660}
  @getTop(index:Int) = @{playingfield(index)._2 * 100 / 660}

  @getHomeLeft(index:Int) = @{home1(index)._1 * 100 / 660}
  @getHomeTop(index:Int) = @{home1(index)._2 * 100 / 660}
  @getFinishLeft(index:Int) = @{finish1(index)._1 * 100 / 660}
  @getFinishTop(index:Int) = @{finish1(index)._2 * 100 / 660}

  @getHome2Left(index:Int) = @{home2(index)._1 * 100 / 660}
  @getHome2Top(index:Int) = @{home2(index)._2 * 100 / 660}
  @getFinishLeft2(index:Int) = @{finish2(index)._1 * 100 / 660}
  @getFinishTop2(index:Int) = @{finish2(index)._2 * 100 / 660}

  @getHome3Left(index:Int) = @{home3(index)._1 * 100 / 660}
  @getHome3Top(index:Int) = @{home3(index)._2 * 100 / 660}
  @getFinishLeft3(index:Int) = @{finish3(index)._1 * 100 / 660}
  @getFinishTop3(index:Int) = @{finish3(index)._2 * 100 / 660}

  @getHome4Left(index:Int) = @{home4(index)._1 * 100 / 660}
  @getHome4Top(index:Int) = @{home4(index)._2 * 100 / 660}
  @getFinishLeft4(index:Int) = @{finish4(index)._1 * 100 / 660}
  @getFinishTop4(index:Int) = @{finish4(index)._2 * 100 / 660}



  @main("Welcome to MeschAergerDichNicht") {

    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/mensch.css")' />
    <meta http-equiv="refresh" content="5" >
      <!--code> @Html(tui.printingTui()) </code-->
    <!--div class="container"-->
    <div class="row clearfix">
        <div class="background left"></div>
      <div class="background">


        @for(index <- 0 until playingfield.size){
            @if(index == 0){
                <div id="playingfiel" class="circle" style="left:@{getLeft(index)}%; top:@{getTop(index)}%; background:darkred ">

                </div>
            }else{
                @if(index == 10){
                    <div id="playingfiel" class="circle" style="left:@{getLeft(index)}%; top:@{getTop(index)}%; background:darkblue "> </div>
                }else{
                    @if(index == 20){
                        <div id="playingfiel" class="circle" style="left:@{getLeft(index)}%; top:@{getTop(index)}%; background:darkgreen "> </div>
                    }else{
                        @if(index == 30){
                            <div id="playingfiel" class="circle" style="left:@{getLeft(index)}%; top:@{getTop(index)}%; background:orange "> </div>
                        }else{
                            <div id="playingfiel" class="circle" style="left:@{getLeft(index)}%; top:@{getTop(index)}%; ">

                            </div>
                        }
                    }
                }
            }
        }

    @for(player <- players){
        @for(token <- player.getTokens()){
            @if(token.counter > 0 && token.counter < 41){

                @if(token.getColor() == "red"){
                        <div id="playingfiel" class="circle" style="left:@{getLeft(token.getPosition()._2)+1.4}%; top:@{getTop(token.getPosition()._2)+1.4}%;width:5%; height:5%">
                        <div class="tokens">
                            <img src="@routes.Assets.versioned("images/tokens/red.png")" />
                        </div>
                        </div>
                }else{
                    @if(token.getColor() == "blue"){
                        <div id="playingfiel" class="circle" style="left:@{getLeft(token.getPosition()._2)+1.4}%; top:@{getTop(token.getPosition()._2)+1.4}%;width:5%; height:5%">
                        <div class="tokens">
                            <img src="@routes.Assets.versioned("images/tokens/blue.png")" />
                        </div>
                        </div>

                    }else{
                        @if(token.getColor() == "green"){
                            <div id="playingfiel" class="circle" style="left:@{getLeft(token.getPosition()._2)+1.3}%; top:@{getTop(token.getPosition()._2)+1.3}%;width:5%; height:5%">
                            <div class="tokens">
                                <img src="@routes.Assets.versioned("images/tokens/green.png")" />
                            </div>
                            </div>

                        }else{
                            @if(token.getColor() == "yellow"){
                                <div id="playingfiel" class="circle" style="left:@{getLeft(token.getPosition()._2)+1.3}%; top:@{getTop(token.getPosition()._2)+1.3}%;width:5%; height:5%">
                                <div class="tokens">
                                    <img src="@routes.Assets.versioned("images/tokens/yellow.png")" />
                                </div>
                                </div>

                            }
                        }
                    }
                }

            }
        }
    }
        <!--adding tokens, if token.count != 0, token.getPosition> </-->
        @for(index <- 0 until home1.size){
            <div id="red" class="circle" style="left:@{getHomeLeft(index)}%; top:@{getHomeTop(index)}%; ">
            @if(players.nonEmpty){
                @if(tokens1(index).counter == 0) {
                    <div class="tokens">
                        <img src="@routes.Assets.versioned("images/tokens/red.png")" />
                    </div>
                }
            }
            </div>
        }
        @for(index <- 0 until finish1.size){
            <div id="red" class="circle" style="left:@{getFinishLeft(index)}%; top:@{getFinishTop(index)}%; ">
            @if(players.nonEmpty){
                @if(tokens1(index).counter == 40) {
                    <div class="tokens">
                        <img src="@routes.Assets.versioned("images/tokens/red.png")" />
                    </div>
                }
            }</div>
        }

        @for(index <- 0 until home2.size){
            <div id="blue" class="circle" style="left:@{getHome2Left(index)}%; top:@{getHome2Top(index)}%; ">
            @if(1 < players.size){
                @if(tokens2(index).counter == 0) {
                    <div class="tokens">
                        <img src="@routes.Assets.versioned("images/tokens/blue.png")" />
                    </div>
                }
            }
            </div>
        }

        @for(index <- 0 until finish2.size){
            <div id="blue" class="circle" style="left:@{getFinishLeft2(index)}%; top:@{getFinishTop2(index)}%; ">
            @if(1 < players.size){
                @if(tokens2(index).counter == 40) {
                    <div class="tokens">
                        <img src="@routes.Assets.versioned("images/tokens/blue.png")" />
                    </div>
                }
            }</div>
        }
        @for(index <- 0 until home3.size){
            <div id="green" class="circle" style="left:@{getHome3Left(index)}%; top:@{getHome3Top(index)}%; ">
            @if(2 < players.size){
                @if(tokens3(index).counter == 0) {
                    <div class="tokens">
                        <img src="@routes.Assets.versioned("images/tokens/green.png")"/>
                    </div>
                }
            }
            </div>
        }

        @for(index <- 0 until finish3.size){
            <div id="green" class="circle" style="left:@{getFinishLeft3(index)}%; top:@{getFinishTop3(index)}%; ">
            @if(2 < players.size){
                @if(tokens3(index).counter == 40) {
                    <div class="tokens">
                        <img src="@routes.Assets.versioned("images/tokens/green.png")" />
                    </div>
                }
            }</div>
        }

        @for(index <- 0 until home4.size){
            <div id="yellow" class="circle" style="left:@{getHome4Left(index)}%; top:@{getHome4Top(index)}%; ">
            @if(3 < players.size){
                @if(tokens4(index).counter == 0) {
                    <div class="tokens">
                        <img src="@routes.Assets.versioned("images/tokens/yellow.png")"/>
                    </div>
                }
            }
            </div>
        }
        @for(index <- 0 until finish4.size){
            <div id="yellow" class="circle" style="left:@{getFinishLeft4(index)}%; top:@{getFinishTop4(index)}%; ">
            @if(3 < players.size){
                @if(tokens4(index).counter == 40) {
                    <div class="tokens">
                        <img src="@routes.Assets.versioned("images/tokens/yellow.png")" />
                    </div>
                }
            }</div>
        }



      </div>
    <div class="background right"></div>
    </div>
      <!--/div-->
  }
